@font-face {
    font-family: 'cheese_burgerregular';
    src: url('fonts/cheese_burger-webfont.woff2') format('woff2'),
         url('fonts/cheese_burger-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
	background-image: url(images/background&.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

header {
    background-image: url(images/logo.png);
    background-size: 100px 100px; /* Personnalisez la taille de votre logo */
    background-repeat: no-repeat; /* Évite la répétition de l'image de fond */
    padding-left: 120px;
	width: 23git%;
	margin-top: 5%;
	margin-left: 1%;
}
h1,
h2{
	font-family: 'Caveat', cursive;
	font-size: 40px;
	color: rgb(218, 218, 218);
	margin: 0;
}

.summary{
	background-image: url(images/papier.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 309px;
	width: 391px;
	position: absolute;
	right: 5%;	
	top: 5%;
}

.summary p{
	display: flex;
	justify-content: center;
	font-family: 'Dancing Script', cursive;
	padding: 20px;
	font-size: 21px;
	font-weight: 400;
	color: rgb(0, 0, 0);
}

h1{
	border-bottom: 1px solid white;
}

.preamble p, 
.explanation p,
.participation p,
.benefits p,
.requirements p
 {
	padding: 15px;
	font-family: 'cheese_burgerregular';
	font-size: 20px;
	margin-bottom: 3%;
    opacity: 0;
	max-height: 100px;
	overflow: hidden;
	transition: max-height 1000000000000s ease-in-out, opacity 100s ease-in-out;
}

h3:hover ~ p {
    opacity: 1;
    max-height: 200px; 
    transition: opacity 0.9s ease-in-out;
}

 h3 {
    opacity: 1;
	cursor: pointer;
	font-family: 'Caveat', cursive;
	font-size: 35px;
	margin: 0;
}

.preamble {
	background-image: url(images/tableau.png);
	background-repeat: no-repeat;
	height: 297px;
	width: 494px;
	position: relative;
	top: 200px;
	left: 200px;
	overflow-y: scroll;
}

.preamble h3 {
	display: flex;
	justify-content: center;
	padding: 15px 0;
}

.explanation{
	background-image: url(images/tableau.png);
	background-repeat: no-repeat;
	height: 297px;
	width: 494px;
	position: relative;
	bottom: 95px;
	left: 800px;
	max-height: 297px;
	overflow-y: scroll;
}



.explanation h3 {
	display: flex;
	justify-content: center;
	padding: 15px 0;
}

.participation {
	background-image: url(images/tableau.png);
	background-repeat: no-repeat;
	height: 297px;
	width: 494px;
	position: relative;
	top: 1%;
	left: 20px;
	max-height: 297px;
	overflow-y: scroll;
}

.participation h3 {
	display: flex;
	justify-content: center;
	padding: 15px 0;
}

.benefits{
	background-image: url(images/tableau.png);
	background-repeat: no-repeat;
	height: 297px;
	width: 494px;
	position: relative;
	bottom: 296px;
	left: 35%;
	max-height: 297px;
	overflow-y: scroll;
}

.benefits h3 {
	display: flex;
	justify-content: center;
	padding: 15px 0;
}

.requirements {
	background-image: url(images/tableau.png);
	background-repeat: no-repeat;
	height: 297px;
	width: 494px;
	position: relative;
	bottom: 595px;
	left: 1065px;
	max-height: 297px;
	overflow-y: scroll;
}

.requirements h3 {
	display: flex;
	justify-content: center;
	padding: 15px 0;
}

